{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="mx-2">
        {{ form_errors(form) }}
    </div>

    <div class="row mx-2">
        <div class="col">
            {{ form_row(form.title) }}
        </div>

        <div class="col" id="picture">
            {{ form_row(form.picture) }}
        </div>
    </div>

    <div class="row mx-2">
        <div class="col" id="label">
            {{ form_row(form.label) }}
        </div>

        <div class="col" id="price">
            {{ form_row(form.price) }}
        </div>
    </div>

    <div class="col mx-2">
        {{ form_row(form.Artist) }}
    </div>

    <div class="d-flex row mx-2">
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>

{{ form_end(form) }}
